HOME
OFFICE
.api_secrets.yml
.app_secrets.yml

.DS_Store
*.swp
.netrwhist
.bash*
Dropbox*
.dockercfg
.byebug_hist
.cache/
.mysql_history
.profile
.ssh/
.viminfo*
.zcompdump
.zsh_history
.vim_mru_files
.rvm/
.gem/
.m2/
.npm/
.vagrant.d/
.CFUserTextEncoding
.NERDTreeBookmarks
.Trash/
.adobe/
.atom/
.avrduderc
.cassandra/
.cocoapods
.coffee_history
.com.*
.config/
.conscript/
.cups/
.dbk_info
.dbshell
.dropbox*
.dvdcss/
.eaglerc
.FrontDesign/
.gitk
.gittrees
.gnupg
.grunt-init
.guard_history
.heroku/
.irb-history
.ivy2/
.lein/
.lesshst
.lldb
.netrc
.node-completion/
.node-gyp/
.nvm/
.pearrc
.pip/
.psql_history
.python-eggs/
.rdebug_hist
.rediscli_history
.rbx
.rnd
.ropeproject/
.sbt/
.scala_history
.sh_history
.sqlite_history
.subversion
src/
tmp/
mbox

.boot2docker/
.passenger/
VirtualBox VMs/

Creative Cloud Files
Applications*
Desktop/
Development
Documents*
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites
Projects
