*.swp
.CFUserTextEncoding
.DS_Store
.Extensis
.FrontDesign/
.NERDTreeBookmarks
.Trash/
.adobe/
.api_secrets.yml
.app_secrets.yml
.atom/
.avrduderc
.bash*
.boot2docker/
.byebug_hist
.cache/
.cassandra/
.cocoapods
.coffee_history
.com.*
.config/
.conscript/
.cups/
.dbk_info
.dbshell
.dockercfg
.docker
.dropbox*
.dvdcss/
.eaglerc
.gem/
.gitk
.gittrees
.gnupg
.grunt-init
.guard_history
.gvm/
.heroku/
.irb-history
.ivy2/
.lein/
.lesshst
.lldb
.m2/
.mysql_history
.netrc
.netrwhist
.node-completion/
.node-gyp/
.npm/
.nvm/
.oracle_jre_usage/
.overtone/
.passenger/
.pearrc
.pip/
.profile
.pry_history
.psql_history
.pyenv/
.python-eggs/
.python_history
.rbx
.rdebug_hist
.rediscli_history
.rnd
.ropeproject/
.rvm/
.sbt/
.scala_history
.sh_history
.spark_history
.sqlite_history
.ssh/
.subversion
.v8*
.vagrant.d/
.vim_mru_files
.viminf*
.zcompdump
.zsh_history

Applications*
Creative Cloud Files
Desktop/
Development
Documents*
Downloads/
Dropbox*
Dropbox/
HOME
Library/
Movies/
Music/
OFFICE
OJPRMBP
Pictures/
Projects
Public/
Sites
VirtualBox VMs/
derby.log
mbox
