snippet ch
	{exp:channel:entries
	  channel="${1}"
	  dynamic="no"
	}

snippet /ch
	{/exp:channel:entries}

snippet lr
	{exp:low_reorder:entries set="${1}"}

snippet /lr
	{/exp:low_reorder:entries}

snippet em
	{exp:embed name="${1}"}

snippet stem
	{stash:embed name="${1}"}
